body {
    text-align: center;
    border: 1px, solid, black;
    margin: 0 auto;
    background-color: rgb(228, 224, 224);
}

#title {
    margin: 0 auto;
    width: 500px;
    height: 80px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3VrojFl1SFok7_bUpzbhgmJMaxZNNFeyz6GWC_APlIg&s');
    padding: 15px;
    text-align: left;
}

#sf {
    text-align: left;
    color: blue;
}

img.business_pic {
    width: 50px;
    height: 50px;
}

.details_item {
    float: left;
    height: 80px;
    width: 350px;
    display: inline;
    text-align: left;
}

#details{
    margin: 0 auto;
    width: 750px;
    height: 670px;
    border: 1px solid black;
    padding: 15px;
    background-color: white;
}

.details_item p{
    font-size: 8px;
    line-height: 0px;
}

#search_table {
    margin: 0 auto;
    border: 1px;
}

td {
    border: 1px, solid, gray;
    background-color: white;
}
th {
    border: 1px, solid, gray;
    background-color: rgb(100, 100, 195);
}

.input_item {
    float: left;
    height: 45px;
    width: 250px;
    display: inline;
    text-align: left;
}

.search {
    margin: 0 auto;
    width: 500px;
    border: 1px solid black;
    padding: 15px;
    background-color: white;
}

.submit {
    color: white;
    background-color: rgb(90, 90, 239);
    width: 75px;
    height: 40px;
}
.clear {
    color: white;
    background-color: rgb(246, 178, 53);
    width: 75px;
    height: 40px;
}

.clear:hover{
    cursor: pointer;
}
.submit:hover{
    cursor: pointer;
}

#business_name:hover{
    cursor: pointer;
    color: gray;
}

.sortth:hover{
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

.detail_img {
    float: left;
    width: 220px;
    height: 250px;
    margin-left: 20px;
    display: inline;
    border: 1px solid gray;
}


.detail_img img{
    width: 220px;
    height: 200px;
}

#green {
    border-radius: 5px;
    background-color: green;
    padding: 5px;
}

#red {
    border-radius: 5px;
    background-color: red;
    padding: 5px;
}

#keyword_input input{
    width: 490px;
}
#location_input input{
    width: 490px;
}